aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
attrs==25.4.0
bcrypt==5.0.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
dnspython==2.8.0
frozenlist==1.8.0
http_ece==1.2.1
idna==3.11
multidict==6.7.0
notify-run @ git+https://github.com/notify-run/notify.run.git@0b37558d54fda52d382a72cef05c05856c605c7b#subdirectory=py_client
propcache==0.4.1
py-vapid==1.9.2
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
pymongo==4.15.3
PyQRCode==1.2.1
pywebpush==2.1.1
requests==2.31.0
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.22.0
